.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button > .btn {
  background: purple;
  padding: 10px;
  width: 10rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 2rem;
}

.button > :hover.btn {
  background: rgb(159, 1, 159);
  transition: all 400ms;
}
