@tailwind base;
@tailwind components;
@tailwind utilities;

/** main colors to be utilized int this project **/
/* #240747 */
/* #363636 */
/* #dc2f2f */
/* #ff894c */
/* #f8f8f8 */

:root {
  /* Primary colors */
  --ai-blue: #007bff;
  --deep-space-blue: #031d44;
  --cybernetic-blue: #00d1ff;

  /* Secondary color:roots */
  --quantum-silver: #858585;
  --digital-gray: #2e2e2e;
  --digital-gray-2: #171717;
  --matrix-green: #23d160;

  /* Accent colors */
  --neural-network-neon: #fd49a0;
  --data-stream-orange: #ff7f11;
  --innovation-gold: #ffd700;

  /* Neutral colors */
  --cloud-compute-white: #f8f9fa;
  --black-hole: #000000;

  /* Error / Warning / Success */
  --color-error: #dc3545; /* Red */
  --color-warning: #ffc107; /* Yellow */
  --color-success: #28a745; /* Green */

  /* Utility colors */
  --color-text: #212529; /* Text color */
  --color-background: #ffffff; /* Background color */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer base {
  body {
    /* font-family: "Open Sans", sans-serif;
    background-image: url("../public//assets/images/home/home-bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }

  .chat {
    font-family: "Open Sans", sans-serif;
    background-image: url("../public/assets/images/home/home-bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home {
    font-family: "Open Sans", sans-serif;
    background-image: url("../public/assets/images/home/home-bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* hero section start */
  .hero_title {
    /* background-image: url("../public/assets/images/title-bg.jpg"); */
    background-color: gray;
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hand-container {
    perspective: 1130px;
  }

  .laptop {
    transform-style: preserve-3d;
    vertical-align: middle;
    transform: rotateX(30deg);
    will-change: transform;
  }
  /* hero section end */

  /* service section start */

  .service {
    background-image: url("../public/assets/images/service-bg.png");

    height: 100%;
    background: linear-gradient(
      180.02deg,
      rgba(rgba(245, 245, 245), 0.05) 0.1%,
      rgba(rgb(115, 115, 115), 0) 90.86%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

  /* service section end */

  /* about section start */
  .about {
    background-image: url("../public/assets/images/about-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 253, 253, 1);
  }

  /* about section end */
}
